article {
  &.center {
    text-align: center;
    // width: 100%;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: $primary;
    font-size: 32px;
  }

  h2 {
    color: $primary;
    font-size: 28px;
  }

  img {
    width: 100%;
  }

  p {
    font-size: 18px;
    font-weight: 200;
    font-family: "Inter";
    line-height: 28px;
  }

  li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
    font-family: "Inter";
  }
}
@media only screen and (max-width: 550px) {
  article {
    margin: 20px !important;

    p {
      margin: 20px;
    }
  }
}