nav {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  background: $black;

  .logo {
    margin-right: auto;

    img {
      height: 80px;
    }
  }

  .menu {
    display: flex;

    &-toggle {
      z-index: 20;
      position: fixed;
      top: 27px;
      right: 20px;
      display: none;
      height: 35px;
      width: 35px;

      &.toggled {
        span {
          transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
          transform: rotate(0deg);
          top: 0;

          &:nth-child(1) {
            transition: transform 150ms ease-in-out;
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transition: transform 150ms ease-in-out;
            transform: rotate(-45deg);
            position: absolute;
            top: 10px;
          }
        }
      }

      span {
        height: 3px;
        width: 35px;
        margin-top: 7px;
        display: block;
        background: $green;
      }
    }

    a {
      font-size: 20px;
      margin-left: 20px;
      text-decoration: none;
      color: $white;
      padding: 5px 20px;

      &.active {
        color: $primary;
      }

      &:first-child {
        margin-left: 0;
      }

      &.cta {
        color: $black;
        background: $primary;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  nav {
    padding: 20px 0;
    flex-direction: column;

    img {
      width: 50%;
      margin-right: auto;
    }

    .menu {
      width: 100%;
      position: fixed;
      z-index: 13;
      background: $black;
      top: -100vh;
      height: 100%;
      right: 0;
      left: 0;
      box-sizing: border-box;
      flex-direction: column;
      transition: top 150ms ease-in-out;

      a {
        width: calc(100% - 40px);
        font-size: 18px;
        padding: 10px;
        margin: 20px !important;
        box-sizing: border-box;
        flex: 1;
        display: flex;
        align-items: center;
        font-weight: bolder;
        justify-content: center;
      }
    }

    img {
      margin-right: auto;
      margin-left: 20px;
      height: 50px;
    }
  }
}