.investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-member {
    color: $primary;
    width: 200px;
    margin: 10px;
    padding-bottom: 20px;
    cursor: pointer;
    text-decoration: none;

    .image {
      height: 200px;
      width: 200px;
      background: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    a {
      color: $green;
      text-decoration: none;
    }

    h4 {
      font-weight: normal;
      margin: 30px 0 0;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .investors {
    &-member {
      width: 100%;

      .image {
        width: 100%;
      }
    }
  }
}