section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  scroll-snap-align: start;

  .ctas {
    margin-top: 100px;
    margin-bottom: 40px;

    a {
      padding: 10px 20px;
      color: $black;
      background: $primary;
      text-decoration: none;
      font-weight: bold;
      margin-right: 20px;

      &:hover {
        background: shade($primary, 20%);
      }

      &:last-child {
        margin-right: 0;
      }

      &.green {
        background: $green;

        &:hover {
          background: shade($green, 20%);
        }
      }
    }
  }
}

.section-divider {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 1px !important;
}
@media only screen and (min-width: 2000px) {
  .section-divider {
    margin: 0 -800px;
  }
}
@media only screen and (max-width: 2000px) {
  .section-divider {
    margin: 0 -500px;
  }
}
@media only screen and (max-width: 1800px) {
  .section-divider {
    margin: 0 -200px;
  }
}
@media only screen and (max-width: 1500px) {
  .section-divider {
    margin: 0 -150px;
  }
}
@media only screen and (max-width: 1200px) {
  .section-divider {
    margin: 0 -100px;
  }
}
@media only screen and (max-width: 800px) {
  .section-divider {
    margin: 0 -50px;
  }
}
@media only screen and (max-width: 550px) {
  .section {
    flex-direction: column !important;

    .ctas {
      margin: 40px 0 0;
      width: 100%;
      box-sizing: border-box;

      a {
        width: 100%;
        display: block;
        padding: 5px 10px;
        text-align: center;
        box-sizing: border-box;
      }
    }

    &-divider {
      margin: 0;
      background-attachment: inherit;
    }
  }
}