.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-member {
    color: $primary;
    width: 200px;
    margin: 10px;
    padding-bottom: 20px;

    .image {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    h5 {
      color: $green;
      margin: 0;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }

    h4 {
      font-weight: normal;
      margin: 10px 0;

      &:first-of-type {
        margin-top: 30px;
      }

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .team {
    &-member {
      width: 100%;

      .image {
        width: 100%;
      }
    }
  }
}