.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-member {
    color: $primary;
    width: 200px;
    margin: 10px;
    padding-bottom: 20px;
    text-decoration: none;

    &:hover {
      background: #333;
    }

    .image {
      height: 200px;
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    span {
      margin: 10px 0;
      display: block;
      font-weight: bolder;
    }

    p {
      color: $green;
      margin: 0;
      font-weight: normal;
      font-size: 14px;

      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .team {
    &-member {
      width: 100%;

      .image {
        width: 100%;
      }
    }
  }
}