body {
  margin: 0;
  font-family: "Inter";
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: scroll;
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 550px) {
  .mobile {
    display: block !important;
  }
}
.hbox, .hbox-center {
  display: flex;
  flex-direction: row;
}
.hbox-center {
  align-items: center;
}
.hbox.section, .section.hbox-center {
  flex-direction: row;
}
.hbox.reversed, .reversed.hbox-center {
  flex-direction: row-reverse !important;
}

.vbox, .vbox-center {
  display: flex;
  flex-direction: column;
}
.vbox-center {
  align-items: center;
}

.flex {
  flex: 1;
}
.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
Font families defined by this CSS:

- "Inter"                  static "traditional" fonts for older web browsers
- "Inter var"              single-axis variable fonts for all modern browsers
- "Inter var experimental" multi-axis variable fonts for modern web browsers

Use like this in your CSS:

  :root { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
  }

------------------------- static ------------------------- */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/font/inter/Inter-Thin.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Thin.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/font/inter/Inter-ThinItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-ThinItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraLight.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-ExtraLight.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraLightItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-ExtraLightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/font/inter/Inter-Light.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Light.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/font/inter/Inter-LightItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-LightItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/font/inter/Inter-Regular.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/font/inter/Inter-Italic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Italic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/font/inter/Inter-Medium.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Medium.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/font/inter/Inter-MediumItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-MediumItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/font/inter/Inter-SemiBold.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-SemiBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/font/inter/Inter-SemiBoldItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-SemiBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/font/inter/Inter-Bold.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Bold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/font/inter/Inter-BoldItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-BoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraBold.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-ExtraBold.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/font/inter/Inter-ExtraBoldItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-ExtraBoldItalic.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/font/inter/Inter-Black.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-Black.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/font/inter/Inter-BlackItalic.woff2?v=3.19") format("woff2"), url("/font/inter/Inter-BlackItalic.woff?v=3.19") format("woff");
}
/* ----------------------- variable ----------------------- */
@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/font/inter/Inter-roman.var.woff2?v=3.19") format("woff2");
  font-named-instance: "Regular";
}
@font-face {
  font-family: "Inter var";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/font/inter/Inter-italic.var.woff2?v=3.19") format("woff2");
  font-named-instance: "Italic";
}
/* ----------- experimental multi-axis variable -----------

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single-file variable font is opt-in rather than the default.
When using this, you will likely need to set font-variation-settings explicitly, e.g:
  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }
*/
@font-face {
  font-family: "Inter var experimental";
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url("/font/inter/Inter.var.woff2?v=3.19") format("woff2");
}
/* Legacy name (became legacy on Feb 2, 2019) */
@font-face {
  font-family: "Inter var alt";
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: "Regular";
  font-display: swap;
  src: url("/font/inter/Inter-roman.var.woff2?v=3.19") format("woff2");
}
@font-face {
  font-family: "Inter var alt";
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: "Italic";
  font-display: swap;
  src: url("/font/inter/Inter-italic.var.woff2?v=3.19") format("woff2");
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  background: #000;
}
nav .logo {
  margin-right: auto;
}
nav .logo img {
  height: 80px;
}
nav .menu {
  display: flex;
}
nav .menu-toggle {
  z-index: 20;
  position: fixed;
  top: 27px;
  right: 20px;
  display: none;
  height: 35px;
  width: 35px;
}
nav .menu-toggle.toggled span {
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  transform: rotate(0deg);
  top: 0;
}
nav .menu-toggle.toggled span:nth-child(1) {
  transition: transform 150ms ease-in-out;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}
nav .menu-toggle.toggled span:nth-child(2) {
  opacity: 0;
}
nav .menu-toggle.toggled span:nth-child(3) {
  transition: transform 150ms ease-in-out;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
}
nav .menu-toggle span {
  height: 3px;
  width: 35px;
  margin-top: 7px;
  display: block;
  background: #01feb4;
}
nav .menu a {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #FFF;
  padding: 5px 20px;
}
nav .menu a.active {
  color: #FE6E99;
}
nav .menu a:first-child {
  margin-left: 0;
}
nav .menu a.cta {
  color: #000;
  background: #FE6E99;
}

@media only screen and (max-width: 550px) {
  nav {
    padding: 20px 0;
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-right: auto;
  }
  nav .menu {
    width: 100%;
    position: fixed;
    z-index: 13;
    background: #000;
    top: -100vh;
    height: 100%;
    right: 0;
    left: 0;
    box-sizing: border-box;
    flex-direction: column;
    transition: top 150ms ease-in-out;
  }
  nav .menu a {
    width: calc(100% - 40px);
    font-size: 18px;
    padding: 10px;
    margin: 20px !important;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
  }
  nav img {
    margin-right: auto;
    margin-left: 20px;
    height: 50px;
  }
}
.app {
  flex: 1;
  position: relative;
  background: #000;
  color: #FFF;
}

@media only screen and (min-width: 3000px) {
  .app {
    padding: 0 1000px;
  }
}
@media only screen and (min-width: 2000px) {
  .app {
    padding: 0 800px;
  }
}
@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 400px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 550px) {
  .app {
    padding: 0;
  }
}
section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section .ctas {
  margin-top: 100px;
  margin-bottom: 40px;
}
section .ctas a {
  padding: 10px 20px;
  color: #000;
  background: #FE6E99;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}
section .ctas a:hover {
  background: #cb587a;
}
section .ctas a:last-child {
  margin-right: 0;
}
section .ctas a.green {
  background: #01feb4;
}
section .ctas a.green:hover {
  background: #01cb90;
}

.section-divider {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 1px !important;
}

@media only screen and (min-width: 2000px) {
  .section-divider {
    margin: 0 -800px;
  }
}
@media only screen and (max-width: 2000px) {
  .section-divider {
    margin: 0 -500px;
  }
}
@media only screen and (max-width: 1800px) {
  .section-divider {
    margin: 0 -400px;
  }
}
@media only screen and (max-width: 1500px) {
  .section-divider {
    margin: 0 -150px;
  }
}
@media only screen and (max-width: 1200px) {
  .section-divider {
    margin: 0 -100px;
  }
}
@media only screen and (max-width: 800px) {
  .section-divider {
    margin: 0 -50px;
  }
}
@media only screen and (max-width: 550px) {
  .section {
    flex-direction: column !important;
  }
  .section .ctas {
    margin: 40px 0 0;
    width: 100%;
    box-sizing: border-box;
  }
  .section .ctas a {
    width: 100%;
    display: block;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .section-divider {
    margin: 0;
    background-attachment: inherit;
  }
}
article.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
article h1 {
  color: #FE6E99;
  font-size: 32px;
}
article h2 {
  color: #FE6E99;
  font-size: 28px;
}
article img {
  width: 100%;
}
article p {
  font-size: 18px;
  font-weight: 200;
  font-family: "Inter";
  line-height: 28px;
}
article li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 100;
  font-family: "Inter";
}

@media only screen and (max-width: 550px) {
  article {
    margin: 20px !important;
  }
  article p {
    margin: 20px;
  }
}
footer {
  background: #000;
  color: #FFF;
  padding: 10px 20px;
}
footer a {
  margin-left: 10px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  text-decoration: none;
  background: #222;
}
.team-member:hover {
  background: #333;
}
.team-member .image {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.team-member .image img {
  width: 100%;
}
.team-member span {
  margin: 10px 0;
  display: block;
  font-weight: bolder;
}
.team-member p {
  color: #01feb4;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
.team-member p:last-of-type {
  margin-bottom: 20px;
}

@media only screen and (max-width: 550px) {
  .team-member {
    width: 100%;
  }
  .team-member .image {
    width: 100%;
  }
}
.investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.investors-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  background: #222;
}
.investors-member:hover {
  background: #333;
}
.investors-member .image {
  height: 200px;
  width: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.investors-member .image img {
  width: 100%;
}
.investors-member a {
  color: #01feb4;
  text-decoration: none;
}
.investors-member h4 {
  font-weight: normal;
  margin: 20px 0 0;
  font-weight: bold;
}
.investors-member h4:last-of-type {
  margin-bottom: 20px;
}

@media only screen and (max-width: 550px) {
  .investors-member {
    width: 100%;
  }
  .investors-member .image {
    width: 100%;
  }
}
.angels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.angels-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background: #222;
}
.angels-member:hover {
  background: #333;
}
.angels-member p {
  color: #01feb4;
  margin: 4px 0 0;
  font-size: 12px;
  margin: 0;
}
.angels-member h4 {
  font-weight: bolder;
  font-size: 14px;
  margin: 0;
}

@media only screen and (max-width: 550px) {
  .angels-member {
    width: calc(50% - 30px);
    margin: 5px;
  }
  .angels-member:nth-child(odd) {
    margin-left: 0;
  }
  .angels-member:nth-child(even) {
    margin-right: 0;
  }
}
.audits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.audits-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  cursor: pointer;
  text-decoration: none;
  background: #222;
}
.audits-member:hover {
  background: #333;
}
.audits-member .image {
  height: 200px;
  width: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.audits-member .image img {
  width: 100%;
}
.audits-member a {
  color: #01feb4;
  text-decoration: none;
}
.audits-member p {
  margin-top: 0;
  color: #01feb4;
}
.audits-member h4 {
  margin: 30px 0 0;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .audits-member {
    width: 100%;
  }
  .audits-member .image {
    width: calc(100% - 20px);
    padding: 0;
    margin: 10px;
  }
}

/*# sourceMappingURL=common.css.map */
