body {
  margin: 0;
  font-family: "Montserrat";
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: scroll;
}

h3,
li,
p {
  font-family: "Roboto";
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 550px) {
  .mobile {
    display: block !important;
  }
}
.hbox, .hbox-center {
  display: flex;
  flex-direction: row;
}
.hbox-center {
  align-items: center;
}
.hbox.section, .section.hbox-center {
  flex-direction: row;
}
.hbox.reversed, .reversed.hbox-center {
  flex-direction: row-reverse !important;
}

.vbox, .vbox-center {
  display: flex;
  flex-direction: column;
}
.vbox-center {
  align-items: center;
}

.flex {
  flex: 1;
}
.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Thin.woff2") format("woff2"), url("/font/montserrat/Montserrat-Thin.woff") format("woff");
}
/** Montserrat Thin-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-ThinItalic.woff") format("woff");
}
/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("/font/montserrat/Montserrat-ExtraLight.woff") format("woff");
}
/** Montserrat ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Light.woff2") format("woff2"), url("/font/montserrat/Montserrat-Light.woff") format("woff");
}
/** Montserrat Light-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-LightItalic.woff") format("woff");
}
/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Regular.woff2") format("woff2"), url("/font/montserrat/Montserrat-Regular.woff") format("woff");
}
/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-Italic.woff2") format("woff2"), url("/font/montserrat/Montserrat-Italic.woff") format("woff");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Medium.woff2") format("woff2"), url("/font/montserrat/Montserrat-Medium.woff") format("woff");
}
/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-MediumItalic.woff") format("woff");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("/font/montserrat/Montserrat-SemiBold.woff") format("woff");
}
/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Bold.woff2") format("woff2"), url("/font/montserrat/Montserrat-Bold.woff") format("woff");
}
/** Montserrat Bold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-BoldItalic.woff") format("woff");
}
/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("/font/montserrat/Montserrat-ExtraBold.woff") format("woff");
}
/** Montserrat ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("/font/montserrat/Montserrat-Black.woff2") format("woff2"), url("/font/montserrat/Montserrat-Black.woff") format("woff");
}
/** Montserrat Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("/font/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("/font/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
/** =================== MONTSERRAT ALTERNATES =================== **/
/** Montserrat Alternates Thin **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Thin.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Thin.woff") format("woff");
}
/** Montserrat Alternates Thin-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 100;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-ThinItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-ThinItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraLight **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-ExtraLight.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-ExtraLight.woff") format("woff");
}
/** Montserrat Alternates ExtraLight-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 200;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-ExtraLightItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-ExtraLightItalic.woff") format("woff");
}
/** Montserrat Alternates Light **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Light.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Light.woff") format("woff");
}
/** Montserrat Alternates Light-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 300;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-LightItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-LightItalic.woff") format("woff");
}
/** Montserrat Alternates Regular **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Regular.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Regular.woff") format("woff");
}
/** Montserrat Alternates Regular-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-Italic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Italic.woff") format("woff");
}
/** Montserrat Alternates Medium **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Medium.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Medium.woff") format("woff");
}
/** Montserrat Alternates Medium-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-MediumItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-MediumItalic.woff") format("woff");
}
/** Montserrat Alternates SemiBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-SemiBold.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-SemiBold.woff") format("woff");
}
/** Montserrat Alternates SemiBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-SemiBoldItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-SemiBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Bold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Bold.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Bold.woff") format("woff");
}
/** Montserrat Alternates Bold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-BoldItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-BoldItalic.woff") format("woff");
}
/** Montserrat Alternates ExtraBold **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-ExtraBold.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-ExtraBold.woff") format("woff");
}
/** Montserrat Alternates ExtraBold-Italic **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 800;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-ExtraBoldItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-ExtraBoldItalic.woff") format("woff");
}
/** Montserrat Alternates Black **/
@font-face {
  font-family: "Montserrat Alternates";
  font-weight: 900;
  font-style: normal;
  src: url("/font/montserrat/MontserratAlternates-Black.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-Black.woff") format("woff");
}
/** Montserrat Alternates Black-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: italic;
  src: url("/font/montserrat/MontserratAlternates-BlackItalic.woff2") format("woff2"), url("/font/montserrat/MontserratAlternates-BlackItalic.woff") format("woff");
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../font/roboto/roboto.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../font/roboto/roboto.eot?#iefix") format("embedded-opentype"), url("../font/roboto/roboto.woff2") format("woff2"), url("../font/roboto/roboto.woff") format("woff"), url("../font/roboto/roboto.ttf") format("truetype"), url("../font/roboto/roboto.svg#Roboto") format("svg");
  /* Legacy iOS */
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  background: #000;
}
nav .logo {
  margin-right: auto;
}
nav .logo img {
  height: 50px;
}
nav .menu {
  display: flex;
}
nav .menu-toggle {
  z-index: 20;
  position: fixed;
  top: 27px;
  right: 20px;
  display: none;
  height: 35px;
  width: 35px;
}
nav .menu-toggle.toggled span {
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
  transform: rotate(0deg);
  top: 0;
}
nav .menu-toggle.toggled span:nth-child(1) {
  transition: transform 150ms ease-in-out;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
}
nav .menu-toggle.toggled span:nth-child(2) {
  opacity: 0;
}
nav .menu-toggle.toggled span:nth-child(3) {
  transition: transform 150ms ease-in-out;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
}
nav .menu-toggle span {
  height: 3px;
  width: 35px;
  margin-top: 7px;
  display: block;
  background: #01feb4;
}
nav .menu a {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #FFF;
  padding: 5px 20px;
}
nav .menu a.active {
  color: #FE6E99;
}
nav .menu a:first-child {
  margin-left: 0;
}
nav .menu a.cta {
  color: #000;
  background: #FE6E99;
}

@media only screen and (max-width: 550px) {
  nav {
    padding: 20px 0;
    flex-direction: column;
  }
  nav img {
    width: 50%;
    margin-right: auto;
  }
  nav .menu {
    width: 100%;
    position: fixed;
    z-index: 13;
    background: #000;
    top: -100vh;
    height: 100%;
    right: 0;
    left: 0;
    box-sizing: border-box;
    flex-direction: column;
    transition: top 150ms ease-in-out;
  }
  nav .menu a {
    width: calc(100% - 40px);
    font-size: 18px;
    padding: 10px;
    margin: 20px !important;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
  }
  nav img {
    margin-right: auto;
    margin-left: 20px;
    height: 50px;
  }
}
.app {
  flex: 1;
  position: relative;
  background: #000;
  font-family: "Montserrat";
  color: #FFF;
}

@media only screen and (min-width: 2000px) {
  .app {
    padding: 0 800px;
  }
}
@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
@media only screen and (max-width: 550px) {
  .app {
    padding: 0;
  }
}
section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
section .ctas {
  margin-top: 100px;
  margin-bottom: 40px;
}
section .ctas a {
  padding: 10px 20px;
  color: #000;
  background: #FE6E99;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}
section .ctas a:hover {
  background: #cb587a;
}
section .ctas a:last-child {
  margin-right: 0;
}
section .ctas a.green {
  background: #01feb4;
}
section .ctas a.green:hover {
  background: #01cb90;
}

.section-divider {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100vw;
  min-height: 1px !important;
}

@media only screen and (min-width: 2000px) {
  .section-divider {
    margin: 0 -800px;
  }
}
@media only screen and (max-width: 2000px) {
  .section-divider {
    margin: 0 -500px;
  }
}
@media only screen and (max-width: 1800px) {
  .section-divider {
    margin: 0 -200px;
  }
}
@media only screen and (max-width: 1500px) {
  .section-divider {
    margin: 0 -150px;
  }
}
@media only screen and (max-width: 1200px) {
  .section-divider {
    margin: 0 -100px;
  }
}
@media only screen and (max-width: 800px) {
  .section-divider {
    margin: 0 -50px;
  }
}
@media only screen and (max-width: 550px) {
  .section {
    flex-direction: column !important;
  }
  .section .ctas {
    margin: 40px 0 0;
    width: 100%;
    box-sizing: border-box;
  }
  .section .ctas a {
    width: 100%;
    display: block;
    padding: 5px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  .section-divider {
    margin: 0;
    background-attachment: inherit;
  }
}
article.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}
article h1 {
  color: #FE6E99;
  font-size: 32px;
}
article h2 {
  color: #FE6E99;
  font-size: 28px;
}
article p {
  font-size: 20px;
}

@media only screen and (max-width: 550px) {
  article {
    margin: 20px !important;
  }
  article p {
    margin: 20px;
  }
}
footer {
  background: #000;
  color: #FFF;
  padding: 10px 20px;
}
footer a {
  margin-left: 10px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
  text-decoration: none;
}
.team-member:hover {
  background: #333;
}
.team-member .image {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.team-member .image img {
  width: 100%;
}
.team-member span {
  margin: 10px 0;
  display: block;
  font-weight: bolder;
}
.team-member p {
  color: #01feb4;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
.team-member p:last-of-type {
  margin-bottom: 20px;
}

@media only screen and (max-width: 550px) {
  .team-member {
    width: 100%;
  }
  .team-member .image {
    width: 100%;
  }
}
.investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.investors-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}
.investors-member:hover {
  background: #090909;
}
.investors-member .image {
  height: 200px;
  width: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.investors-member .image img {
  width: 100%;
}
.investors-member a {
  color: #01feb4;
  text-decoration: none;
}
.investors-member h4 {
  font-weight: normal;
  margin: 30px 0 0;
}
.investors-member h4:last-of-type {
  margin-bottom: 20px;
}

@media only screen and (max-width: 550px) {
  .investors-member {
    width: 100%;
  }
  .investors-member .image {
    width: 100%;
  }
}
.angels {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.angels-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #FFF;
  text-decoration: none;
}
.angels-member:hover {
  background: #FFFFFF20;
}
.angels-member p {
  color: #01feb4;
  margin: 4px 0 0;
  font-size: 12px;
  margin: 0;
}
.angels-member h4 {
  font-weight: bolder;
  font-size: 14px;
  margin: 0;
}

@media only screen and (max-width: 550px) {
  .angels-member {
    width: calc(50% - 30px);
    margin: 5px;
  }
  .angels-member:nth-child(odd) {
    margin-left: 0;
  }
  .angels-member:nth-child(even) {
    margin-right: 0;
  }
}
.audits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.audits-member {
  color: #FE6E99;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}
.audits-member:hover {
  background: #090909;
}
.audits-member .image {
  height: 200px;
  width: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}
.audits-member .image img {
  width: 100%;
}
.audits-member a {
  color: #01feb4;
  text-decoration: none;
}
.audits-member p {
  margin-top: 0;
}
.audits-member h4 {
  margin: 30px 0 0;
  font-weight: bold;
}

@media only screen and (max-width: 550px) {
  .audits-member {
    width: 100%;
  }
  .audits-member .image {
    width: calc(100% - 20px);
    padding: 0;
    margin: 10px;
  }
}

/*# sourceMappingURL=common.css.map */
