body {
  margin: 0;
  font-family: Courier;
}

.hbox, .hbox-center {
  display: flex;
  flex-direction: row;
}
.hbox-center {
  align-items: center;
}

.vbox, .vbox-center {
  display: flex;
  flex-direction: column;
}
.vbox-center {
  align-items: center;
}

.flex {
  flex: 1;
}
.flex-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "courier";
  src: url("CourierNewPS-BoldMT.eot");
  src: local("Courier New Bold"), local("CourierNewPS-BoldMT"), url("/font/courier-new/CourierNewPS-BoldMT.eot?#iefix") format("embedded-opentype"), url("/font/courier-new/CourierNewPS-BoldMT.woff2") format("woff2"), url("/font/courier-new/CourierNewPS-BoldMT.woff") format("woff"), url("/font/courier-new/CourierNewPS-BoldMT.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPS-BoldItalicMT.eot");
  src: local("Courier New Bold Italic"), local("CourierNewPS-BoldItalicMT"), url("/font/courier-new/CourierNewPS-BoldItalicMT.eot?#iefix") format("embedded-opentype"), url("/font/courier-new/CourierNewPS-BoldItalicMT.woff2") format("woff2"), url("/font/courier-new/CourierNewPS-BoldItalicMT.woff") format("woff"), url("/font/courier-new/CourierNewPS-BoldItalicMT.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPS-ItalicMT.eot");
  src: local("Courier New Italic"), local("CourierNewPS-ItalicMT"), url("/font/courier-new/CourierNewPS-ItalicMT.eot?#iefix") format("embedded-opentype"), url("/font/courier-new/CourierNewPS-ItalicMT.woff2") format("woff2"), url("/font/courier-new/CourierNewPS-ItalicMT.woff") format("woff"), url("/font/courier-new/CourierNewPS-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "courier";
  src: url("CourierNewPSMT.eot");
  src: local("Courier New"), local("CourierNewPSMT"), url("/font/courier-new/CourierNewPSMT.eot?#iefix") format("embedded-opentype"), url("/font/courier-new/CourierNewPSMT.woff2") format("woff2"), url("/font/courier-new/CourierNewPSMT.woff") format("woff"), url("/font/courier-new/CourierNewPSMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
nav {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: flex-end;
}
nav img {
  margin-right: auto;
  height: 50px;
}
nav a {
  font-size: 20px;
  margin-left: 20px;
  text-decoration: none;
  color: #8e44ad;
  padding: 5px 20px;
}
nav a.cta {
  color: #FFF;
  background: #8e44ad;
}

.app {
  padding: 0 500px;
  padding-bottom: 20px !important;
  flex: 1;
  position: relative;
  background: tint(#8e918f, 90%);
}

@media only screen and (max-width: 2000px) {
  .app {
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .app {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .app {
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .app {
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .app {
    padding: 0 50px;
  }
}
.section {
  min-height: 80vh;
  display: flex;
  align-items: center;
}
.section-divider {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  width: 100vw;
}

@media only screen and (max-width: 2000px) {
  .section-divider {
    margin: 0 -500px;
  }
}
@media only screen and (max-width: 1800px) {
  .section-divider {
    margin: 0 -200px;
  }
}
@media only screen and (max-width: 1500px) {
  .section-divider {
    margin: 0 -150px;
  }
}
@media only screen and (max-width: 1200px) {
  .section-divider {
    margin: 0 -100px;
  }
}
@media only screen and (max-width: 800px) {
  .section-divider {
    margin: 0 -50px;
  }
}
article.center {
  text-align: center;
  width: 100%;
}
article h1 {
  color: #8e44ad;
  font-size: 32px;
}
article h2 {
  color: #8e44ad;
  font-size: 28px;
}

footer {
  background: #8e44ad;
  color: #FFF;
  padding: 10px 20px;
}

@media only screen and (max-width: 2000px) {
  footer {
    padding: 10px 500px;
  }
}
@media only screen and (max-width: 1800px) {
  footer {
    padding: 10px 200px;
  }
}
@media only screen and (max-width: 1500px) {
  footer {
    padding: 10px 150px;
  }
}
@media only screen and (max-width: 1200px) {
  footer {
    padding: 10px 100px;
  }
}
@media only screen and (max-width: 800px) {
  footer {
    padding: 10px 50px;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-member {
  background: #8e44ad;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
}
.team-member .image {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.team-member .image img {
  width: 100%;
}
.team-member h4 {
  color: #FFF;
  font-weight: normal;
  margin: 10px 0;
}
.team-member h4:last-of-type {
  margin-bottom: 20px;
}

.investors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.investors-member {
  background: #8e44ad;
  width: 200px;
  margin: 10px;
  padding-bottom: 20px;
}
.investors-member .image {
  height: 200px;
  width: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.investors-member .image img {
  width: 100%;
}
.investors-member a {
  color: #FFF;
}
.investors-member h4 {
  color: #FFF;
  font-weight: normal;
  margin: 10px 0;
}
.investors-member h4:last-of-type {
  margin-bottom: 20px;
}

/*# sourceMappingURL=common.css.map */
