{{ partial "header.html" . }}
<div class="about">
  {{ range .Pages }} 
    <section class="section {{ if not .Params.cta }}{{ if .Params.Image }}hbox{{ end }}{{ end }}">
      {{ if .Params.cta }}
        <div class="hbox">
      {{ end }}
      
      <article class="center {{ if ne .GetIdentity.Path "about/introduction.md" }} flex{{ end }}">
        {{ .Content }}
      </article>
      
      {{ if .Params.Image }}
        <article class="flex center image">
          <img src="/img/about/{{ .Params.Image }}" alt="">
        </article>
      {{ end }}
      
      {{ if .Params.cta }}
        </div>
      {{ end }}
      
      <div class="ctas">
        {{ range .Params.cta }}
          <a class="{{ .type }}" rel="noreferrer" href="{{ .url }}">{{ .label }}</a>
        {{ end }}
      </div>
     {{ if eq .GetIdentity.Path "about/introduction.md" }}
     <div class="scroll-indicator">
       <img src="/svg/icons/caret-down.svg" alt="">
       
     </div>
     {{ end }}
    </section>
  {{ end }}
</div>
<script src="/js/about.js?{{ now.Unix }}" type="module" charset="utf-8"></script>

{{ partial "footer.html" . }}