<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sherlock</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <img src="/img/logo-black.svg" alt="">
      <div class="menu">
        <a href="#">Home</a>
        <a  target="_blank" href="https://docs.sherlock.xyz/">Docs</a>
        <a class="cta" target="_blank" href="https://goerli.sherlock.xyz/">App</a>
      </div>
    </nav>
    <div class="app">
