.hbox {
  display: flex;
  flex-direction: row;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1;
  
  &-center {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}