.hbox {
  display: flex;
  flex-direction: row;

  &-center {
    @extend .hbox;
    align-items: center;
  }

  &.section {
    flex-direction: row;
  }

  &.reversed {
    flex-direction: row-reverse !important;
  }
}

.vbox {
  display: flex;
  flex-direction: column;

  &-center {
    @extend .vbox;
    align-items: center;
  }
}

.flex {
  flex: 1;

  &-center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}