@import "global/variables";
@import "global/mixins";

.landing {
  background: $white;
  margin: 0;

  .bubbles {
    margin-top: -200px;
    width: 320px;
    position: relative;
    align-self: center;

    span {
      border: 10px solid $black;
      background: $primary;
      color: $black;
      border-radius: 50%;
      font-weight: bold;
      display: block;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      position: relative;

      &.fadein {
        opacity: 1;
      }

      &:nth-child(1) {
        height: 200px;
        width: 200px;
        font-size: 22px;
      }

      &:nth-child(2) {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 230px;
      }

      &:nth-child(3) {
        height: 150px;
        width: 150px;
        position: absolute;
        font-size: 18px;
        left: 140px;
      }
    }
  }

  .sherlock-image {
    position: relative;
    overflow: hidden;

    img {
      height: 350px;
    }

    .stroke {
      width: 320px;
      height: 25px;
      background: $primary;
      position: absolute;
      top: 85px;
      left: 0;
      z-index: 12;
      transition: opacity 1800ms ease-in-out;
      opacity: 0;
      background: url("/img/home/stroke.png");
      background-size: cover;

      &.fadein {
        opacity: 1;
      }
    }
  }
}
@media only screen and (max-width: 550px) {
  .landing {
    flex-direction: column;
    margin: 0 !important;

    .sherlock-image {
      margin-top: 100px;

      img {
        height: 200px !important;
        width: auto;
      }

      .stroke {
        height: 20px !important;
        margin-top: 15px;
      }
    }

    .bubbles {
      transform: scale(.6);
      margin-bottom: -200px;
      margin-top: -150px;
      left: -20px;
      width: 100%;
    }

    img {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 2000px) {
  .landing {
    margin: 0 -500px;
    padding: 0 500px;
  }
}
@media only screen and (max-width: 1800px) {
  .landing {
    margin: 0 -200px;
    padding: 0 200px;
  }
}
@media only screen and (max-width: 1500px) {
  .landing {
    margin: 0 -150px;
    padding: 0 150px;
  }
}
@media only screen and (max-width: 1200px) {
  .landing {
    margin: 0 -100px;
    padding: 0 100px;
  }
}
@media only screen and (max-width: 800px) {
  .landing {
    margin: 0 -50px;
    padding: 0 50px;
  }
}